body {
  background: linear-gradient(to bottom, #1F2326 0%, #505155 50%, #1F2326 100%);
  color: #7C6AFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#root{
  width: 100%;
}
