.hTitle {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hButtons {

  &Row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}